<!--File: about.hbs-->
<!--Authors: Alex Antaki, Matthew Oakley, Alex Mahlmeister, Raislan Aiken, and Jaspreet Singh-->
<!--Date: 11/10/2019-->
<!--Description: This is the body of the about page-->

<body>
<!--This div is the image we see when the page loads-->
<div data-bs-parallax-bg="true" style="height: 480px; background-image: url(&quot;images/DSC_7553.jpg?h=6fb7f77418f4702a9421862424bc40f6&quot;);background-position: center; background-size: cover;"></div>
<!--This is the div that holds the wording-->
<div>
    <div class="container">
        <div class="row">
            <!--This is the part that says about us-->
            <div class="col-md-12">
                <p class="text-center" style="font-size: 38px;padding: 0px;margin: 0px;padding-top: 40px;padding-bottom: 40px;color: rgb(49,52,55);"><strong>About Us</strong></p>
            </div>
        </div>
        <!--This div holds the part that starts with our mission-->
        <div class="row">
            <div class="col-md-12" style="padding-top: 15px;">
                <header>
                    <p class="text-center" style="font-size: 25px;color: rgb(49,52,55);"><strong>Our Mission</strong></p>
                </header>
                <p class="text-center" style="font-size: 20px;padding-top: 4px;padding-bottom: 4px;">The mission of Sprout Creek Farm is to educate people to&nbsp;understand and appreciate our connection to the earth and&nbsp;our responsibility for its care. As well as producing and selling our meats and cheeses, the purposes of the
                    farm are:<br><br>▶ Provide educational experiences for children and adults that will foster appreciation for, and understanding of, our place within the natural world, and thus encourage responsibility for the future of our environment<br><br>▶Offer
                    programs that will reconnect people to the rich agricultural heritage of the United States to offer an experience of community as a model of peaceful living<br><br>▶Offer programs in spiritual development, using the agricultural
                    resources of the farm as both setting and starting point of such programs<br></p>
            </div>
        </div>
        <!--This div holds the part that starts with our farm-->
        <div class="row">
            <div class="col-md-12" style="padding-top: 15px;">
                <header>
                    <p class="text-center" style="font-size: 25px;height: 39px;margin-top: 40px;color: rgb(49,52,55);"><strong>Our Farm</strong></p>
                </header>
                <p class="text-center" style="font-size: 20px;padding-top: 4px;padding-bottom: 4px;">Sprout Creek Farm is a center for education, farming, community building and spiritual growth. It is a place of work, of peace, of intellectual inquiry and experiential learning. It is home to a community of people, plants and animals;
                    farmland, forest, streams and ponds, wetlands and hedgegrows, hills and rocky soils. We are a productive farm where we make cheese from the milk produced by our cows and goats. Right here we can watch the grass become milk that
                    in turn becomes the cheese enjoyed at our table and yours. We welcome you to take a "bird's eye view" and learn more about the different programs we host, our animals and the land we farm. Better yet, come visit the Farm and experience
                    the peacefulness yourself.&nbsp;<br><br><strong>We are open to visitors everyday from 10 am to 5 pm.</strong>&nbsp;<br><br>We hope to see you soon!<br></p>
            </div>
        </div>
        <!--This div holds the part that starts with our part-->
        <div class="row">
            <div class="col-md-12" style="padding-top: 15px;">
                <header>
                    <p class="text-center" style="font-size: 25px;margin-top: 40px;color: rgb(49,52,55);"><strong>Our People</strong></p>
                </header>
                <p class="text-center" style="font-size: 20px;padding-top: 4px;padding-bottom: 4px;margin-left: 12px;">Meet the people who make it happen!&nbsp;</p>
            </div>
        </div>
    </div>
</div>
<!--This div holds the people and the contact info for them-->
<div class="team-clean">
    <div class="container">
        <div class="row people">
            <!--This is the first person Kim and her contact info-->
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="/images/logo.png?h=adece2ed323b3f2ce91ddc8f52cddb21">
                <h3 class="name">Kim M. Bodendorf</h3>
                <p class="title" style="color: rgb(163,162,162);"><em>Interim Executive Director</em></p>
                <p class="description"><i class="fa fa-envelope-o"></i>&nbsp; E - Mail:&nbsp;<a href="mailto:Kim@sproutcreekfarm.org">Kim@sproutcreekfarm.org</a><br><i class="fa fa-phone"></i>&nbsp; Telephone:&nbsp;(845) 485-8438 ext. 104</p>
            </div>
            <!--This is the second person Margo and her contact info-->
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="/images/logo.png?h=adece2ed323b3f2ce91ddc8f52cddb21">
                <h3 class="name">Margo Morris</h3>
                <p class="title" style="color: rgb(163,162,162);"><em>Director of Develpment</em><br></p>
                <p class="description"><i class="fa fa-envelope-o"></i>&nbsp; E - Mail:&nbsp;<a href="mailto:Margo@sproutcreekfarm.org">Margo@sproutcreekfarm.org</a><br>&nbsp; Telephone:&nbsp;(845) 485-8438 ext. 104</p>
            </div>
            <!--This is the third person Paula and her contact info-->
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="/images/logo.png?h=adece2ed323b3f2ce91ddc8f52cddb21">
                <h3 class="name">Paula Gruner</h3>
                <p class="title" style="color: rgb(163,162,162);"><em>Accounts Management/Finance</em></p>
                <p class="description"><i class="fa fa-envelope-o"></i>&nbsp; E - Mail:&nbsp;<a href="mailto:finance@sproutcreekfarm.org">finance@sproutcreekfarm.org</a><br><i class="fa fa-phone"></i>&nbsp; Telephone:&nbsp;(845) 485-8438 ext. 102</p>
            </div>
        </div>
        <!--This is the next row of people-->
        <div class="row people">
            <!--This is the first person in the second row-->
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="/images/logo.png?h=adece2ed323b3f2ce91ddc8f52cddb21">
                <h3 class="name">Kerry Gallagher</h3>
                <p class="title" style="color: rgb(163,162,162);"><em>Director of Education</em></p>
                <p class="description" style="font-size: 14px;"><i class="fa fa-envelope-o"></i>&nbsp; E - Mail:&nbsp;<a href="mailto:education@sproutcreekfarm.org">education@sproutcreekfarm.org</a><br><i class="fa fa-envelope-o"></i> E - Mail:&nbsp;<a href="mailto:camps@sproutcreekfarm.org">camps@sproutcreekfarm.org</a><br>
                    <i
                        class="fa fa-phone"></i>&nbsp; Telephone:&nbsp;(845) 485-8438 ext. 103</p>
            </div>
            <!--This is the second person in the second row-->
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="/images/logo.png?h=adece2ed323b3f2ce91ddc8f52cddb21">
                <h3 class="name" style="font-size: 21px;">CREAMERY PLANT MANAGER /CHEESE MAKER</h3>
                <p class="title"></p>
                <p class="description"><br><i class="fa fa-envelope-o"></i>&nbsp; E - Mail:&nbsp;<a href="mailto:Cheese@sproutcreekfarm.org">Cheese@sproutcreekfarm.org</a><br><i class="fa fa-phone"></i>&nbsp; Telephone:&nbsp;(845) 206-0236</p>
            </div>
            <!--This is the third person in the second row-->
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="/images/logo.png?h=adece2ed323b3f2ce91ddc8f52cddb21">
                <h3 class="name">Marcello Chimbo</h3>
                <p class="title" style="color: rgb(163,162,162);"><em>Head Cheese Maker / Sales / Shipping / Distribution</em></p>
                <p class="description"><i class="fa fa-envelope-o"></i>&nbsp; E - Mail:&nbsp;<a href="mailto:Cheese@sproutcreekfarm.org">Cheese@sproutcreekfarm.org</a><br><i class="fa fa-phone"></i>&nbsp; Telephone:&nbsp;(845)-206-0236</p>
            </div>
        </div>
        <!--This is the thrid row-->
        <div class="row people">
            <!--This is the first person in the third row-->
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="images/logo.png?h=adece2ed323b3f2ce91ddc8f52cddb21">
                <h3 class="name">Connie Riley</h3>
                <p class="title" style="color: rgb(163,162,162);"><em>Sales Manager&nbsp;</em><br><em>Events/Cheese/Retail</em></p>
                <p class="description"><i class="fa fa-envelope-o"></i>&nbsp; E - Mail:&nbsp;<a href="mailto:Connie@sproutcreekfarm.org">Connie@sproutcreekfarm.org</a><br>&nbsp; Telephone:&nbsp;(845) 485-9885</p>
            </div>
            <!--This is the second prson in the third row-->
            <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="images/logo.png?h=adece2ed323b3f2ce91ddc8f52cddb21">
                <h3 class="name">Shawn Wilcox</h3>
                <p class="text-center title" style="width: 310px;color: rgb(163,162,162);"><em>Executive Chef&nbsp;</em><br><em>Catering/cooking classes/Events</em></p>
                <p class="description"><i class="fa fa-envelope-o"></i>&nbsp; E - Mail:&nbsp;<a href="mailto:Shawn@sproutcreekfarm.org">Shawn@sproutcreekfarm.org</a><br><i class="fa fa-phone"></i>&nbsp; Telephone:&nbsp;(845) 485-9885</p>
            </div>
        </div>
    </div>
</div>
</body>
