<!--File: admin_dashboard-manage_inventory-create_inventory.hbs-->
<!--Authors: Alex Antaki, Matthew Oakley, Alex Mahlmeister, Raislan Aiken, and Jaspreet Singh-->
<!--Date: 11/10/2019-->
<!--Description: This is the body of the admin_dashboard-manage_inventorry-create_inventory page-->

<!--This is create inventory and sub-->

<!--This is the link that brings us back to the inventory page-->
<header></header><a href="/admin_dashboard/manage_inventory" style="margin-left: 40px;margin-top: 0px;color: rgb(133,135,150);font-size: 20px;">Back To Inventory</a>
  <div class="container-fluid text-center border rounded shadow-sm" style="background-color: #ffffff;margin-top: 60px;max-width: 960px;padding-top: 15px;padding-bottom: 15px;padding-right: 50px;padding-left: 50px;">
      <h5 class="text-left" style="color: rgb(133,135,150);font-size: 28px;height: 90px;padding-top: 30px;"><strong>Inventory Item</strong></h5>
      <div class="row">
          <div class="col text-left">
              <!--This is the form to create an item-->

              <!--Come back and double check the action-->
              <form method="post" action="/api/addItem">
                  <div class="form-group"><label style="font-size: 20px;"><strong>Merchant ID:</strong><input class="form-control" name="merchantId" type="number" id="merchantId" min="0" step="1" placeholder="Merchant ID"></label></div>
                  <div class="form-group"><label style="font-size: 20px;"><strong>Item Name:</strong><br><input class="form-control" name="name" type="text" id="name" placeholder="Name" required="" minlength="1"></label></div>
                  <div class="form-group"><label style="font-size: 20px;"><strong>Category:</strong><br><input class="form-control" name="cat" type="text" id="cat" placeholder="Category" required="" minlength="1"></label></div>
                  <div class="form-group"><label style="font-size: 20px;"><strong>Quantity:</strong><br><input class="form-control" name="quantity" type="number" id="quantity" placeholder="Quantity" required="" min="0" step="1"></label></div>
                  <div class="form-group"><label style="font-size: 20px;"><strong>Price:</strong><br><input class="form-control" name="price" type="float" id="price" required="" placeholder="Price" min="1" step="1"></label></div>
                  <div class="form-group" style="height: 165px;"><label style="font-size: 20px;"><strong>Image:</strong><br><input name="imageLink" class="form-control" type="url" id="imageLink" placeholder="Image URL" style="margin-bottom: 20px;"><input type="file" id="imageFile" rows="7" cols="50"></label>
                      <small
                          class="form-text text-muted" style="font-size: 15px;"><em>Chose either by 'URL' or by 'File' for image selection</em></small>
                  </div>
                  <div class="form-group"><label style="font-size: 20px;"><strong>Description:</strong><textarea class="form-control" id="desc" name="desc" rows="7" cols="50" required="" minlength="1" placeholder="Description" spellcheck="true" wrap="soft" maxlength="500"></textarea><br></label></div>
                  <button class="btn btn-primary" type="submit" style="background-color: rgb(79,121,96);font-size: 20px;margin-bottom: 15px;">Submit Item</button>
              </form></div>
      </div>
  </div>
