<!--File: check_out.hbs-->
<!--Authors: Alex Antaki, Matthew Oakley, Alex Mahlmeister, Raislan Aiken, and Jaspreet Singh-->
<!--Date: 11/18/2019-->
<!--Description: This is the body of the checkout page-->

<!--This is the link to go back to the cart-->
<header></header><a href="/cart" style="font-size: 20px;margin-left: 40px;margin-top: 0px;color: rgb(133,135,150);">Back To Cart</a>
<main class="page payment-page">
    <section class="clean-block payment-form dark">
        <div class="text-center block-heading" style="margin-top: 0px;">
            <!--This is the checkout heading we see-->
            <h3 style="color: rgb(125,130,133);font-size: 38px;margin-top: 60px;"><strong>Checkout</strong></h3>
            <p style="margin-bottom: 0px;font-size: 25px;margin-top: 20px;">You Have Made A Great Selection!<br>Please Enter The Following Information To Complete Your Order</p>
        </div>
        <div class="container border rounded shadow-sm" style="margin-top: 50px;padding-top: 20px;padding-bottom: 20px;padding-right: 20px;background-color: #ffffff;"><button class="btn btn-primary" id="backToShipping" type="button" style="background-color: rgb(137,140,149);display: none;margin-top: 10px;margin-bottom: 30px;">Back To Shipping Information</button>
            <div class="form-group">
                <!--This is the form we use to order-->
                <form >
                    <div id="shipping" class="card-details" style="margin-top: 10px;">
                        <h3 class="title" style="font-size: 30px;"><strong>Delivery Details</strong></h3>
                        <p style="margin-top: 40px;font-size: 22px;">Choose Your Preferred Method Of Delivery</p>
                        <form>
                            <div class="form-group" style="padding-left: 10px;"><select class="custom-select" id="deliveryMethod" style="width: 270px;margin-top: 20px;height: 45px;font-size: 17px;"><optgroup label="Delivery Method"><option value="shipToAddress" selected="">Ship To Address</option><option value="pickUpInStore">Pick Up In Store (No Additional Fee)</option></optgroup></select></div>
                        </form>
                        <p style="margin-top: 40px;font-size: 22px;margin-bottom: 30px;">Please Fill Out The Information Below</p>
                        <div id="shipToAddress" style="display:block;">
                            <div class="form-row" style="padding-left: 10px;">

                                <div class="col-sm-7" id="recipientName">

                                    <div class="form-group"><label for="card-holder" style="font-size: 17px;"><strong>First Name</strong></label><input class="form-control" type="text" id="recipientName" onchange="verifyName(this.value, id)" placeholder="First Name" minlength="1" required="">
                                    <!--This is the validation funciton for the recipient name-->
                                    <script type = "text/javascript">
                                      function verifyName(name, id){
                                        var nameRegEx = new RegExp(/^[a-zA-Z\s]+$/);
                                        if(nameRegEx.test(name) != true){
                                          alert("Please use letters in the name field");
                                        }
                                      }
                                    </script>
                                  </div>
                                </div>
                                <div class="form-row" style="padding-left: 10px;">

                                    <div class="col-sm-7" id="recipientName">

                                        <div class="form-group"><label for="card-holder" style="font-size: 17px;"><strong>Last Name</strong></label><input class="form-control" type="text" id="recipientName" onchange="verifyName(this.value, id)" placeholder="Last Name" minlength="1" required="">
                                        <!--This is the validation funciton for the recipient name-->
                                        <script type = "text/javascript">
                                          function verifyName(name, id){
                                            var nameRegEx = new RegExp(/^[a-zA-Z\s]+$/);
                                            if(nameRegEx.test(name) != true){
                                              alert("Please use letters in the name field");
                                            }
                                          }
                                        </script>
                                    </div>
                                </div>
                                <!--This is the phone number-->
                                <div class="col-sm-7" id="phoneNumber" style="height: 87px;">
                                    <div class="form-group" style="height: 27px;"><label for="card-holder" style="font-size: 17px;"><strong>Phone Number (No dashes needed)</strong></label><input class="form-control" type="tel" onchange="verifyPhoneNum(this.value, id)" id="phoneNumber" placeholder="Phone Number" required="" minlength="1" maxlength = "13" inputmode="tel">
                                      <!--This is the validation function for the phone number-->
                                      <script type = "text/javascript">
                                        function verifyPhoneNum(number, id){
                                          var phoneNum = new RegExp(/^[0-9]+$/);
                                          if(phoneNum.test(number) != true){
                                            alert("Please use only numbers");
                                          }
                                        }
                                      </script>
                                    </div>
                                </div>
                                <!--This is the address box-->
                                <div class="col-sm-8" id="address1">
                                    <div class="form-group"><label for="card-number" style="font-size: 17px;"><strong>Address 1</strong></label><input class="form-control" type="text" onchange="verifyAddress(this.value, id)"  id="shippingAddress1" placeholder="Address 1" required="" minlength="1">
                                      <!--This is the validation function for the address-->
                                      <script type = "text/javascript">
                                        function verifyAddress(address, id){
                                          var address1 = new RegExp(/^[0-9]+$/);
                                          var address2 = new RegExp(/^[a-zA-Z]+$/);
                                          var splitAddress = address.split(" ");

                                          if(address1.test(splitAddress[0]) != true){
                                            alert("Please use numbers first and letters after for the address field");
                                          }else if(address2.test(splitAddress[1]) != true || splitAddress[1] == undefined){
                                            alert("Please use letters after the numbers for the address field");
                                          }
                                        }
                                      </script>
                                    </div>
                                </div>
                                <!--This is the address 2 section-->
                                <div class="col-sm-8" id="address2">
                                    <div class="form-group"><label for="card-number" style="font-size: 17px;"><strong>Address 2</strong></label><input class="form-control" type="text" onchange="verifyAddress2(this.value, id)" id="shippingAddress2" placeholder="Address 2">
                                      <!--This is the validation script for the address-->
                                      <script type = "text/javascript">
                                        function verifyAddress2(address, id){
                                          var address1 = new RegExp(/^[0-9]+$/);
                                          var address2 = new RegExp(/^[a-zA-Z]+$/);
                                          var splitAddress = address.split(" ");


                                          if(address1.test(splitAddress[0]) != true){
                                            alert("Please use numbers first and letter after for the address field");
                                          }else if(address2.test(splitAddress[1]) != true || splitAddress[1] == undefined){
                                            alert("Please use letters after the numbers for the address field");
                                          }
                                        }
                                      </script>
                                    </div>
                                </div>
                                <!--This is the city field-->
                                <div class="col-sm-8 col-xl-5 offset-xl-0" id="city">
                                    <div class="form-group"><label for="card-number" style="font-size: 17px;"><strong>City</strong></label><input class="form-control" onchange = "verifyCity(this.value, id)" type="text" id="shippingCity" placeholder="City" required="" minlength="1">
                                      <!--This is validation for the city field-->
                                      <script type = "text/javascript">
                                        function verifyCity(city, id){
                                          var cityRegEx = new RegExp(/^[a-zA-Z]+$/);
                                          if(cityRegEx.test(city) != true){
                                            alert("Please use only letters in the city field");
                                          }
                                        }
                                      </script>
                                    </div>
                                </div>
                                <!--This is the zip code-->
                                <div class="col-sm-8 col-xl-3" id="zipCode">
                                    <div class="form-group"><label for="card-number" style="font-size: 17px;"><strong>Zip Code</strong></label><input class="form-control" type="text" onchange = "verifyZip(this.value, id)" id="shippingZipCode" placeholder="Zip Code" required="" minlength="5" maxlength = "5" pattern="/(^\d{5}$)|(^\d{5}-\d{4}$)/"
                                            inputmode="numeric">
                                        <!--This is the validation for the zip-->
                                        <script type = "text/javascript">
                                          function verifyZip(zip, id){
                                            var zipRegExp = new RegExp(/^[0-9]+$/);

                                            if(zipRegExp.test(zip) != true || zip.length != 5){
                                              alert("Please use 5 numbers for your zip code");
                                            }
                                          }

                                        </script>
                                    </div>
                                </div>
                                <!--This is the state-->
                                <div class="col-sm-8 col-xl-3" id="state">
                                    <div class="form-group"><label for="card-number" style="font-size: 17px;"><strong>State (Two Letter, "NY" or "FL")</strong></label><input class="form-control" type="text" id="shippingState" onchange = "verifyState(this.value, id)" placeholder="State" required="" minlength="2" maxlength="2">
                                      <!--This is the validation for the state-->
                                      <script type = "text/javascript">
                                        function verifyState(state, id){
                                          var stateRegEx = new RegExp(/^[a-zA-Z]+$/);

                                          if(stateRegEx.test(state) != true){
                                            alert("Please use only letters in the state field");
                                          }
                                        }
                                      </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                        <div class="col-sm-12" id="proceed">
                            <div class="form-group"><button class="btn btn-primary btn-block" id="proceedShipping" type="button" style="background-color: rgb(79,121,96);margin-top: 20px;height: 40px;font-size: 20px;">Proceed</button></div>
                        </div>
                    </div>
                </form>

                <!--This is the next part of the page that is our cart-->
                <form>
                    <div class="border rounded products" id="cartContent" style="margin-top: 0px;background-color: rgb(248,247,245);display: none;">
                        <h3 class="text-center title" style="margin-top: 0px;padding-bottom: 10px;padding-top: 10px;">Cart Summary</h3>
                        <div class="form-row no-gutters text-left justify-content-center align-items-center" style="/*overflow: auto;*/">
                            <div class="col-sm-auto col-md-auto col-lg-auto col-xl-7" style="overflow: auto;height: 300px;padding: 5px;">
                                <div class="items">
                                    <div class="product">
                                        <!--These divs are they product listings on the left hand side-->
                                        <div class="form-row justify-content-center align-items-center" style="margin-bottom: 5px;margin-top: 5px;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;">
                                            <div class="col" id="nameOfItem"><a class="product-name" href="#" style="font-size: 20px;">Cupcake</a></div>
                                            <!--This is where the price per unit area is-->
                                            <div class="col-md-5 col-xl-4 product-info">
                                                <div class="product-specs">
                                                    <div><span>Price Per Unit:&nbsp;</span><span id="pricePerUnit" class="value">$4.00</span></div>
                                                </div>
                                            </div>
                                            <!--This is the total price section-->
                                            <div class="col-6 col-md-2 col-xl-2 quantity"><label class="d-none d-md-block" for="quantity">Quantity</label><input class="form-control form-control quantity-input" type="number" id="quantity" value="1" readonly=""></div>
                                            <div class="col-6 col-md-2 col-xl-2 text-right price"
                                                id="totalItemPrice" style="margin-top: 5px;"><span id="totalItemPrice">$4.00</span></div>
                                        </div>
                                        <div class="form-row justify-content-center align-items-center" style="margin-bottom: 5px;margin-top: 5px;padding: 5px;padding-top: 5px;padding-right: 5px;">
                                            <div class="col" id="nameOfItem"><a class="product-name" href="#" style="font-size: 20px;">Cupcake</a></div>
                                            <!--This is the price per unit area for the next item-->
                                            <div class="col-md-5 col-xl-4 product-info">
                                                <div class="product-specs">
                                                    <div><span>Price Per Unit:&nbsp;</span><span id="pricePerUnit" class="value">$4.00</span></div>
                                                </div>
                                            </div>
                                            <!--This is the quantity section-->
                                            <div class="col-6 col-md-2 col-xl-2 quantity"><label class="d-none d-md-block" for="quantity">Quantity</label><input class="form-control form-control quantity-input" type="number" id="quantity" value="1" readonly=""></div>
                                            <div class="col-6 col-md-2 col-xl-2 text-right price"
                                                style="margin-top: 5px;"><span id="totalItemPrice">$4.00</span></div>
                                        </div>
                                        <!--This is the second item in the row-->
                                        <div class="form-row justify-content-center align-items-center" style="margin-bottom: 5px;margin-top: 5px;">
                                            <div class="col" id="nameOfItem"><a class="product-name" href="#" style="font-size: 20px;">Cupcake</a></div>
                                            <div class="col-md-5 col-xl-4 product-info">
                                                <div class="product-specs">
                                                    <div><span>Price Per Unit:&nbsp;</span><span id="pricePerUnit" class="value">$4.00</span></div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-2 col-xl-2 quantity"><label class="d-none d-md-block" for="quantity">Quantity</label><input class="form-control form-control quantity-input" type="number" id="quantity" value="1" readonly=""></div>
                                            <div class="col-6 col-md-2 col-xl-2 text-right price"
                                                style="margin-top: 5px;"><span id="totalItemPrice">$4.00</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--This is the summary page at the end of the checkout section-->
                            <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-3 text-center" style="background-color: rgb(248,247,245);min-width: 279px;">
                                <div class="summary">
                                    <h2 style="padding-bottom: 15px;background-color: rgb(248,247,245);color: rgb(133,135,150);padding-top: 15px;font-size: 25px;"><strong><em>Summary</em></strong></h2>
                                    <h4 class="text-center" style="padding-bottom: 5px;padding-top: 5px;"><span class="text" style="font-size: 22px;">Subtotal: &nbsp;</span><span id="subtotalPrice" class="price" style="font-size: 22px;">$25.00</span></h4>
                                    <h4 style="padding-bottom: 17px;padding-top: 5px;height: 38px;"><span class="text" style="font-size: 22px;">Shipping: &nbsp;</span><span id="shippingPrice" class="price" style="font-size: 22px;">$5.99</span></h4>
                                    <h4 id="goatPointsSummary" style="padding-bottom: 17px;padding-top: 5px;height: 38px;display:none;"><span class="text" style="font-size: 22px;">Goat Points: &nbsp;</span><span id="shippingPrice" class="price" style="font-size: 22px;">$5.99</span></h4>
                                    <h4 class="text-center" style="padding-bottom: 5px;padding-top: 5px;"><span class="text" style="font-size: 22px;">Tax: &nbsp;</span><span id="taxPrice" class="price" style="font-size: 22px;">$3.00</span></h4>
                                    <h4 style="padding-bottom: 10px;padding-top: 26px;margin-bottom: 45px;margin-top: 5px;"><span class="text" style="font-size: 25px;"><strong>Total: &nbsp;</strong></span><span id="totalPrice" class="price" style="font-size: 25px;"><strong>$30.99</strong></span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--This is the goat points section-->
                    <div id="goatPoints" class="card-details" style="margin-top: 30px; display: none;">
                        <h3 class="title" style="font-size: 30px;margin-bottom: 20px;"><strong>Goat Points Details</strong></h3>
                        <p style="font-size: 20px;margin-bottom: 30px;">Want To Use Goat Points With Your Order?<br>Just Click Apply To Use It Towards Your Balance!</p>
                        <div class="form-row">
                            <div class="col-sm-8">
                                <div class="form-group"><label for="card-number"><strong>Goat Points Balance:</strong></label><input class="form-control" type="text" id="goatPointBalance" style="width: 250px;" readonly="" placeholder="Goat Points"></div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"><button class="btn btn-primary" id="applyGoatPoints" type="button" style="background-color: rgb(79,121,96);margin-top: 20px;height: 40px;">Apply Goat Points</button><button class="btn btn-primary" id="unapplyGoatPoints"
                                        type="button" style="background-color: rgb(105,104,104);margin-top: 20px;height: 40px;display:none;">Un-Apply Goat Points</button></div>
                            </div>
                        </div>
                    </div>
                    <!--This is the credit information form-->
                    <div id="purchase" class="card-details" style="margin-top: 50px;display: none;">
                        <h3 class="title" style="font-size: 30px;margin-bottom: 40px;"><strong>Credit Card Details</strong></h3>
                        <div class="form-row">
                            <div class="col-sm-7">
                                <div class="form-group"><label for="card-holder">Card Holder</label><input class="form-control" type="text" id="cardHolder" onchange = "verifyCardHolder(this.value, id)" placeholder="Card Holder">
                                  <!--This is the validation for the card holders-->
                                  <script type = "text/javascript">
                                    function verifyCardHolder(cardHolder, id){
                                      var cardHolderRegEx = new RegExp(/^[a-zA-Z\s]+$/);
                                      if(cardHolderRegEx.test(cardHolder) != true){
                                        alert("Please use your name in the card holder field");
                                      }
                                    }
                                  </script>
                                </div>
                            </div>
                            <!--This is the expiration field-->
                            <div class="col-sm-5">
                                <div class="form-group"><label>Expiration date (12/20, 06/21)</label>
                                    <div class="input-group expiration-date"><input class="form-control" type="text" minlength = "2" maxlength = "2" id="monthExpr" onchange = "verifyExpiration(this.value, id)" placeholder="MM"><input class="form-control" type="text" id="yearExpr" minlength = "2" maxlength = "2" onchange = "verifyExpirationYear(this.value, id)" placeholder="YY">
                                      <!--This is the validation for the month-->
                                      <script type = "text/javascript">
                                        function verifyExpiration(expirationMonth, id){
                                          var expirationDateRegEx = new RegExp(/^[0-9]+$/);

                                          if(expirationMonth < 1 || expirationMonth > 12){
                                            alert("Please enter a valid month");
                                          }
                                          if(expirationDateRegEx.test(expirationMonth) != true){
                                            alert("Please use two numbers for the expiration month");
                                          }
                                        }
                                        </script>
                                        <!--This is the validation for the year-->
                                        <script type = "text/javascript">
                                        function verifyExpirationYear(expirationYear, id){
                                          var expirationDateRegEx = new RegExp(/^[0-9]+$/);

                                          if(expirationDateRegEx.test(expirationYear) != true){
                                            alert("Please use two numbers for the expiriation year");
                                          }
                                        }
                                      </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <!--This is the credit card form-->
                                <div class="form-group"><label for="card-number">Card Number</label><input class="form-control" minlength = "13" maxlength = "16" type="text" onchange = "verifyCard(this.value, id)" id="cardNumber" placeholder="Card Number">
                                  <!--This is the credit card validation-->
                                  <script type = "text/javascript">
                                    function verifyCard(cardNumber, id){

                                      //This is the regular expression for visa, mastercard, amex, and discover
                                      var visa = new RegExp("^(?:4[0-9]{12}(?:[0-9]{3})?)");
                                      var mastercard = new RegExp("^5[1-5][0-9]{14}$");
                                      var amex = new RegExp("3[47][0-9]{13}$");
                                      var discover = new RegExp("6(?:011|5[0-9]{2})[0-9]{12}");

                                      var goodCard = false;

                                      //Here we test every card and see which it may be.
                                      if(visa.test(cardNumber) == true){
                                        goodCard = true;
                                      }
                                      if(mastercard.test(cardNumber) == true){
                                        goodCard = true;
                                      }
                                      if(amex.test(cardNumber) == true){
                                        goodCard = true;
                                      }
                                      if(discover.test(cardNumber) == true){
                                        goodCard = true;
                                      }

                                      //If none of the validations work then we need a new card number
                                      if(!goodCard){
                                        alert("Please enter a valid credit card");
                                      }

                                    }
                                  </script>
                                </div>
                            </div>
                            <!--This is the cvc form-->
                            <div class="col-sm-4">
                                <div class="form-group"><label for="cvc">CVC</label><input class="form-control" type="text" onchange = "verifyCVC(this.value, id)" id="cvc" placeholder="CVC" minlength="3" maxlength="4">
                                <!--This is the cvc validation-->
                                <script type = "text/javascript">
                                  function verifyCVC(cvc, id){
                                    var cvcRegExp = new RegExp(/^[0-9]+$/);
                                    var cvcLength = document.getElementById("cvc").value;
                                    if(cvcRegExp.test(cvc) != true || cvcLength.length < 3){
                                      alert("Please enter a valid cvc combination");
                                    }
                                  }
                                </script>
                              </div>
                            </div>
                            <!--This is the big button on the bottom of the page-->
                            <div class="col-sm-12">
                                <div class="form-group"><button class="btn btn-primary btn-block" id="confirmPurchase" type="button" style="background-color: rgb(79,121,96);margin-top: 20px;height: 40px;">Confirm Purchase</button></div>
                            </div>
                        </div>
                    </div>
                </form>

                <!--This is the last form-->
                <form>
                    <div id="confirmation" class="card-details" style="margin-top: 30px; display: none;">
                        <!--This is the order received page-->
                        <div class="form-row" style="margin-top: 30px;">
                            <div class="col-sm-7 text-center align-self-center m-auto" style="margin-bottom: 0px;">
                                <h6 class="text-center" style="color: rgb(79,121,96);font-size: 50px;">Order Recieved!</h6><i class="fa fa-check-circle" style="font-size: 78px;color: rgb(79,121,96);"></i></div>
                            <div class="col-sm-8 text-center align-self-center m-auto">
                                <p style="margin-top: 25px;">Your Order Has Been Recieved and Is Currently Being Processed.</p>
                                <p>Your Order Number Is:&nbsp;<label for="card-number">#########</label></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <br/><br/>
</main>
