<!--File: contact.hbs-->
<!--Authors: Alex Antaki, Matthew Oakley, Alex Mahlmeister, Raislan Aiken, and Jaspreet Singh-->
<!--Date: 11/10/2019-->
<!--Description: This is the body of the contact page-->

<body>
<!--This div holds the background image of the people and the barn-->
<div data-bs-parallax-bg="true" style="height: 500px;background-image: url(&quot;images/5250707815_fd50e478be_o.jpg?h=6615a1e01a721d92fd3de7e4ca912708&quot;);background-position: center;background-size: cover;"></div>

<!--This is holding the text that says want to get in contact with us-->
<div class="article-list" style="margin: 0px;background-color: #fffdfa;">
    <div class="container" style="padding-top: 0px;">
        <div class="intro">
            <h2 class="text-center" style="padding-top: 100px;font-size: 38px;">Contact<br></h2>
            <p class="text-center" style="font-size: 20px;">Want to get in contact with us? You've come to the right place!</p>
        </div>
    </div>
</div>
<!--This is the part that says when Sprout Creek is open-->
<div class="article-list">
    <div class="col-md-12" style="padding-top: 15px;margin-top: 80px;">
        <header>
            <p class="text-center" style="font-size: 25px;color: rgb(49,52,55);"><strong>Hours</strong></p>
        </header>
        <p class="text-center" style="font-size: 20px;padding-top: 4px;padding-bottom: 4px;">We Are Open Everyday, 7 Days a week, 10:00 AM to 5:00 PM.</p>
    </div>
    <div class="col-md-12" style="padding-top: 35px;">
        <header>
            <p class="text-center" style="font-size: 25px;height: 39px;margin-top: 40px;color: rgb(49,52,55);"><strong>Location</strong></p>
        </header>
        <!--This is the real address to Sprout Creek with a Google Maps API link to help the user-->
        <p class="text-center" style="font-size: 20px;padding-top: 4px;padding-bottom: 4px;">Sprout Creek Farm is located at 34 Lauer Road, Poughkeepsie, New York, 12603.&nbsp;<br><br>Need directions? We got you covered.&nbsp;<br></p>
        <div><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCzZKW722H0QOZvV5GygeXu6a_DeJf4Sew&amp;q=Sprout+Creek+Farm&amp;zoom=12" width="100%" height="400"></iframe></div>
    </div>
</div>
<!--This is the contact portion of the page-->
<div class="col-md-12" style="padding-top: 15px;margin-top: 80px;">
    <header>
        <p class="text-center" style="font-size: 25px;color: rgb(49,52,55);"><strong>Contact Us</strong></p>
    </header>
    <p class="text-center" style="font-size: 20px;padding-top: 4px;padding-bottom: 20px;">You can either contact us via E-Mail or phone.<br><br>We'll get back to you shortly&nbsp;<br><br>Phone Number: +1 (845) 485-8438<br>E-Mail: info@sproutcreekfarm.org&nbsp;<br><br></p>
</div>
<div class="projects-horizontal" style="background-color: rgb(255,253,250);"></div>
</body>
