<!--File: fogot_password.hbs-->
<!--Authors: Alex Antaki, Matthew Oakley, Alex Mahlmeister, Raislan Aiken, and Jaspreet Singh-->
<!--Date: 11/09/2019-->
<!--Description: This is the body of the forgot_password page-->

<body>
<div class="container" style="height: 663px;padding: -1px;width: 100%;">
    <div class="card shadow-lg o-hidden border-0 my-5" style="height: 524px; width: 75%;">
        <div class="card-body p-0">
            <!--This div holds the barn picture and the text boxes for the forgotten passwords-->
            <div class="row">
                <div class="col-lg-6 d-none d-lg-flex">
                    <!--This is where the image is imported-->
                    <div class="flex-grow-1 bg-password-image" style="background-image: url(&quot;images/DSC_0531.jpg?h=ec54c7886e4d8cf8216ad3636f6388dc&quot;);height: 526px;"></div>
                </div>
                <!--Below is the code for the text boxes-->
                <div class="col-lg-6">
                    <div class="p-5" style="height: 462px;margin-top: 20px;">
                        <div class="text-center">
                            <!--This is the text that says forgot your password-->
                            <h4 class="text-dark mb-2" style="font-size: 33px;">Forgot Your Password?</h4>
                            <p class="mb-4" style="font-size: 17px;">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                        </div>
                        <form class="user" action = "/api/forgotPassword" method = "post">
                            <!--This is where the user inputs their email and we can see the filler text of enter email address-->
                            <div class="form-group"><input class="form-control form-control-user" type="email" id="email" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email" style="font-size: 18px;"></div><button class="btn btn-primary btn-block text-white btn-user"
                                type="submit" style="font-size: 18px;background-color: rgb(79,121,96);">Reset Password</button></form>
                        <div class="text-center">
                            <!--This is the links we see on the bottom that go to create accounts and login pages-->
                            <hr><a class="small" href="/create_account" style="font-size: 16px;">Create an Account!</a></div>
                        <div class="text-center"><a class="small" href="/login" style="font-size: 16px;">Already have an account? Login!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
