<div class="img-banner">
    <p class="container img-banner--container__as-paragraph">
        <img src="images/marist.png" alt="Marist Seal" class="img-banner--img" width="600px" height="600px">
    </p>
</div>


<div class="container container--text__centered">
    <h1 class="header header__lg">{{title}}</h1>
    <p>Welcome! Edit this page in the code to change the content.</p>
    <p>Click <button onclick="sayHello()">here</button> for a sample JavaScript-based interaction.</p>
</div>
