<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/images/ecommerce.png" type='image/x-icon'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="javascripts/client.js" async></script>
  </body>
</html>
