<link rel='stylesheet' href='/stylesheets/login.css' />
<script src="javascripts/login.js" async></script>

<div class="login-div">
  <h2 class="center-text"> Login </h2>
  <form>
    <table class="center-table">
      <tr>
        <td colspan="2">
          <a href="__!!Forgot Passowrd Page!!__">Forgot Password?</a>
        </td>
      </tr>
      <tr>
        <td>
          Username
        </td>
        <td>
          <input id="username" type="textbox"/>
        </td>
      </tr>
      <tr>
        <td>
          Password
        </td>
        <td>
          <input id="password" type="password"/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="button" value="Login" onClick="login()"/>
    </table>
  </form>
</div>
