<link rel='stylesheet' href='/stylesheets/login.css' />

<div class="login-div">
  <h2 class="center-text"> Login </h2>
  <form>
    <table class="center-table">
      <tr>
        <td colspan="2">
          <a href="__!!Forgot Passowrd Page!!__">Forgot Password?</a>
        </td>
      </tr>
      <tr>
        <td>
          Email
        </td>
        <td>
          <input type="textbox"/>
        </td>
      </tr>
      <tr>
        <td>
          Password
        </td>
        <td>
          <input type="password"/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="button" value="Login"/>
    </table>
  </form>
</div>
