<div data-bs-parallax-bg="true" style="height: 480px;background-image: url(&quot;images/Sprout-Creek-Farm-1.jpg?h=c05c278684df60a8049c801271b57a3a&quot;);background-position: center;background-size: cover;opacity: 1;"></div>
  <main class="page catalog-page">
      <section class="clean-block clean-catalog dark">
          <div class="container">
              <div class="block-heading">
                  <h2 class="text-info">Catalog Page</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
              </div>
              <div class="content">
                  <div class="row text-center justify-content-center align-items-center">
                      <div class="col-md-9">
                          <div class="products">
                              <div class="row no-gutters">
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-5 text-center" style="padding: 10px;margin: 5px;margin-bottom: 15px;padding-right: 10px;margin-right: 75px;margin-top: 5px;">
                                      <div class="border rounded clean-product-item" style="background-color: #fbf5f5;padding: 14px;">
                                          <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="images/bogart.jpg?h=e60673f3dcbecae44bc43ea5761f59d0" style="min-height: 160px;min-width: 200px;"></a></div>
                                          <div class="text-center product-name" style="margin-top: 10px;margin-bottom: 15px;font-size: 21px;"><a class="text-center" href="#" style="font-size: 22px;margin-top: 0px;"><strong>Bogart</strong></a></div>
                                          <h3 class="text-left" style="font-size: 20px;"><strong>Price:</strong>&nbsp;$12.00</h3>
                                          <div class="about">
                                              <div class="rating">
                                                  <p class="text-left"><strong>Description:&nbsp;</strong>This savory smear-ripened raw cows' milk cheese with a full scattering of eyes has an aromatic soft yellow paste, and a crisp coppery rind. Aged 2-4 months.<br></p>
                                              </div>
                                          </div>
                                      </div><button class="btn btn-primary btn-block border rounded-0" type="button" style="background-color: rgb(79,121,96);margin-bottom: 0px;height: 55px;font-size: 20px;">Add To Cart</button></div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-6">
                                      <div class="clean-product-item">
                                          <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="images/image2.jpg?h=04515e999c5ef88bfebde7ef512bec67"></a></div>
                                          <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
                                          <div class="about">
                                              <div class="rating"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star-half-empty.svg?h=52643cdf5581ce4b2bc133d700b32857"><img src="images/star-empty.svg?h=67e3ef1204a154c2af6db4a9eaf69156"></div>
                                              <div class="price">
                                                  <h3>$100</h3>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4">
                                      <div class="clean-product-item">
                                          <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="images/image2.jpg?h=04515e999c5ef88bfebde7ef512bec67"></a></div>
                                          <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
                                          <div class="about">
                                              <div class="rating"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star-half-empty.svg?h=52643cdf5581ce4b2bc133d700b32857"><img src="images/star-empty.svg?h=67e3ef1204a154c2af6db4a9eaf69156"></div>
                                              <div class="price">
                                                  <h3>$100</h3>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4">
                                      <div class="clean-product-item">
                                          <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="images/image2.jpg?h=04515e999c5ef88bfebde7ef512bec67"></a></div>
                                          <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
                                          <div class="about">
                                              <div class="rating"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star-half-empty.svg?h=52643cdf5581ce4b2bc133d700b32857"><img src="images/star-empty.svg?h=67e3ef1204a154c2af6db4a9eaf69156"></div>
                                              <div class="price">
                                                  <h3>$100</h3>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4">
                                      <div class="clean-product-item">
                                          <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="images/image2.jpg?h=04515e999c5ef88bfebde7ef512bec67"></a></div>
                                          <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
                                          <div class="about">
                                              <div class="rating"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star-half-empty.svg?h=52643cdf5581ce4b2bc133d700b32857"><img src="images/star-empty.svg?h=67e3ef1204a154c2af6db4a9eaf69156"></div>
                                              <div class="price">
                                                  <h3>$100</h3>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4">
                                      <div class="clean-product-item">
                                          <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="images/image2.jpg?h=04515e999c5ef88bfebde7ef512bec67"></a></div>
                                          <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
                                          <div class="about">
                                              <div class="rating"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star-half-empty.svg?h=52643cdf5581ce4b2bc133d700b32857"><img src="images/star-empty.svg?h=67e3ef1204a154c2af6db4a9eaf69156"></div>
                                              <div class="price">
                                                  <h3>$100</h3>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4">
                                      <div class="clean-product-item">
                                          <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="images/image2.jpg?h=04515e999c5ef88bfebde7ef512bec67"></a></div>
                                          <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
                                          <div class="about">
                                              <div class="rating"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star-half-empty.svg?h=52643cdf5581ce4b2bc133d700b32857"><img src="images/star-empty.svg?h=67e3ef1204a154c2af6db4a9eaf69156"></div>
                                              <div class="price">
                                                  <h3>$100</h3>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4">
                                      <div class="clean-product-item">
                                          <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="images/image2.jpg?h=04515e999c5ef88bfebde7ef512bec67"></a></div>
                                          <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
                                          <div class="about">
                                              <div class="rating"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star-half-empty.svg?h=52643cdf5581ce4b2bc133d700b32857"><img src="images/star-empty.svg?h=67e3ef1204a154c2af6db4a9eaf69156"></div>
                                              <div class="price">
                                                  <h3>$100</h3>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4">
                                      <div class="clean-product-item">
                                          <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="images/image2.jpg?h=04515e999c5ef88bfebde7ef512bec67"></a><a href="#"></a></div>
                                          <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
                                          <div class="about">
                                              <div class="rating"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star.svg?h=6a5bf50661a8e494efd6f3408b44f8b0"><img src="images/star-half-empty.svg?h=52643cdf5581ce4b2bc133d700b32857"><img src="images/star-empty.svg?h=67e3ef1204a154c2af6db4a9eaf69156"></div>
                                              <div class="price">
                                                  <h3>$100</h3>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <nav>
                                  <ul class="pagination">
                                      <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                      <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </main>
