<!--File: summerCamp.hbs-->
<!--Authors: Alex Antaki, Matthew Oakley, Alex Mahlmeister, Raislan Aiken, and Jaspreet Singh-->
<!--Date: 11/10/2019-->
<!--Description: This is the body of the summerCamp page-->

<body>
<!--This is the background image for the summer camp page-->
<div data-bs-parallax-bg="true" style="height: 480px;background-image: url(&quot;images/IMG_0431.JPG?h=9deff3b51a942192fc5acd99f737094b&quot;);background-position: bottom;background-size: cover;background-repeat: no-repeat;"></div>
<!--This is the part for the reaminder of the page-->
<div>
    <!--This is the header that holds the text for the page-->
    <div class="container">
        <!--This is the part that says summer camp-->
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" style="font-size: 40px;padding: 0px;margin: 0px;padding-top: 40px;padding-bottom: 40px;"><strong>Summer Camp</strong></p>
            </div>
        </div>
        <!--This is the part that says hi there-->
        <div class="row">
            <div class="col-md-12">
                <header>
                    <p class="text-center" style="font-size: 25px;"><strong>Hi There!</strong>&nbsp;</p>
                </header>
                <p class="text-center" style="font-size: 20px;padding-top: 4px;padding-bottom: 4px;">So you want to visit Sprout Creek Farm? We would love to have you!<br><br><strong>Sprout Creek is open from 10:00 AM to 5:00 PM, everyday, 7 days a week.&nbsp;</strong><br></p>
            </div>
        </div>
        <!--This is the part that says the what do you do at Sprout Creek-->
        <div class="col-md-12" style="padding-top: 35px;">
            <header>
                <p class="text-center" style="font-size: 25px;margin-top: 40px;"><strong>What Do You Do At Sprout Creek?!</strong></p>
            </header>
            <p class="text-center" style="font-size: 20px;padding-top: 4px;padding-bottom: 4px;margin-left: 12px;">There is so much happening and we want you to be a part of it!<br><br><br><br></p>
        </div>
        <!--This is the location part of the page-->
        <div class="row">
            <div class="col-md-12">
                <header>
                    <p class="text-center" style="font-size: 25px;height: 39px;margin-top: 40px;"><strong>Location</strong></p>
                </header>
                <p class="text-center" style="font-size: 20px;padding-top: 4px;padding-bottom: 4px;">Sprout Creek Farm is located at 34 Lauer Road, Poughkeepsie, New York, 12603.&nbsp;<br><br>Need directions? We got you covered.&nbsp;<br></p>
                <div><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCzZKW722H0QOZvV5GygeXu6a_DeJf4Sew&amp;q=Sprout+Creek+Farm&amp;zoom=12" width="100%" height="400"></iframe></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p></p>
            </div>
        </div>
    </div>
</div>
</body>
