<div data-bs-parallax-bg="true" style="height: 480px;background-image: url(&quot;images/IMG_0431.JPG?h=9deff3b51a942192fc5acd99f737094b&quot;);background-position: bottom;background-size: cover;background-repeat: no-repeat;"></div>
  <div style="background-color: #fffdfa;">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <p class="text-center" style="font-size: 40px;padding: 0px;margin: 0px;padding-top: 40px;padding-bottom: 40px;margin-top: 15px;"><strong>Summer Camp</strong></p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12" style="margin-top: 15px;">
                  <header>
                      <p class="text-center" style="font-size: 25px;"><strong>Give your child an unforgettable summer experience at Sprout Creek Farm.</strong></p>
                  </header>
                  <p class="text-center" style="font-size: 20px;padding-top: 4px;padding-bottom: 4px;">Encompassing 200 acres in Dutchess County, NY, Sprout Creek Farm is a working dairy production farm, complete with a creamery and education center. We invite children of all ages to come to the farm for day or overnight camp to experience
                      everything Sprout Creek has to offer.<br></p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12" style="padding-top: 35px;">
                  <header>
                      <p class="text-center" style="font-size: 25px;margin-top: 40px;"><strong>What Do You Do At Sprout Creek?!</strong></p>
                  </header>
                  <p class="text-center" style="font-size: 20px;padding-top: 4px;padding-bottom: 4px;margin-left: 12px;">Campers will get to know our animals, learn about and participate in the tasks and projects necessary to run the farm, and enjoy the natural beauty of the extraordinary property. All camp counselors are undergraduate students from
                      Marist College in Poughkeepsie. The Marist Fellows studying education, psychology, and other social and behavioral sciences and are interested in working with children and youth.<br><br>Summer marks the height of activity at Sprout
                      Creek Farm. Our cows and goats are at peak milk production, our garden is full of vegetables ready to be harvested and the creek is finally warm enough for a dip. Campers will share in the work—and play—that makes summer at Sprout
                      Creek a time to build lasting friendships, embark on rewarding endeavors, and create lifelong memories.<br><br><br></p>
                  <p class="text-center" style="font-size: 25px;margin-top: 40px;"><strong>Register Now!</strong></p>
              </div>
          </div>
          <div class="row">
              <div class="col" style="margin-bottom: 70px;height: 640px;">
                  <div class="card-group">
                      <div class="card"><img class="card-img-top w-100 d-block" src="images/61c84b31-130c-4de7-9117-7479c6c8e4cc.jpeg?h=a224d31de6213bd183c0ce3557b75e0a">
                          <div class="card-body text-center">
                              <h4 class="card-title"><strong>Spring Break Overnight Camp</strong><br></h4>
                              <p class="card-text"></p>
                              <div class="row">
                                  <div class="col">
                                      <p style="font-size: 17px;"><i class="fa fa-clock-o"></i>&nbsp;Sun, Mon, Tue, Wed, Thu, Fri,&nbsp;1:00pm - 3:00pm</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <p style="font-size: 17px;"><i class="fa fa-calendar-o"></i>&nbsp;Apr 5, 2020 - Apr 10, 2020 (6 days)</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <p style="font-size: 17px;"><i class="fa fa-birthday-cake"></i>&nbsp; Ages 9 - 17 yrs&nbsp;</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <p style="font-size: 17px;"><i class="fa fa-map-signs"></i>&nbsp;Sprout Creek Farm</p>
                                  </div>
                              </div><a class="btn btn-primary" role="button" style="font-size: 20px;background-color: rgb(79,121,96);" href="https://www.hisawyer.com/sprout-creek-farm/schedules/activity-set/89834?source=camp">Register</a></div>
                      </div>
                      <div class="card"><img class="card-img-top w-100 d-block" src="images/84af876c-0234-4b4d-8e7c-64d607e19342.jpeg?h=13c9cabfa58109e4968d626024553068">
                          <div class="card-body text-center">
                              <h4 class="card-title"><strong>Spring Break Mini Week Overnight Camp</strong></h4>
                              <p class="card-text"></p>
                              <div class="row">
                                  <div class="col">
                                      <p style="font-size: 17px;"><i class="fa fa-clock-o"></i>&nbsp; Sun, Mon, Tue, Wed,&nbsp;1:00pm - 3:00pm</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <p style="font-size: 17px;"><i class="fa fa-calendar-o"></i>&nbsp; Apr 5, 2020 - Apr 8, 2020 (4 days)</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <p style="font-size: 17px;"><i class="fa fa-birthday-cake"></i>&nbsp; Ages 9 - 17 yrs&nbsp;</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <p style="font-size: 17px;"><i class="fa fa-map-signs"></i>&nbsp; Sprout Creek Farm<br><br></p>
                                  </div>
                              </div><a class="btn btn-primary" role="button" style="font-size: 20px;background-color: rgb(79,121,96);" href="https://www.hisawyer.com/sprout-creek-farm/schedules/activity-set/94801?source=camp">Register</a></div>
                      </div>
                      <div class="card"><img class="card-img-top w-100 d-block" src="images/69b16b10-0b1d-451c-b971-ba2a3709cf84.jpeg?h=5e7952d91b9f00e2f0f1545d136da0dc">
                          <div class="card-body text-center">
                              <h4 class="card-title"><strong>Spring Break Mini Week Overnight Camp</strong></h4>
                              <p class="card-text"></p>
                              <div class="row">
                                  <div class="col">
                                      <p style="font-size: 17px;"><i class="fa fa-clock-o"></i>&nbsp;Mon, Tue, Wed, Thu, Fri,&nbsp;9:00am - 4:00pm</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <p style="font-size: 17px;"><i class="fa fa-calendar-o"></i>&nbsp;Apr 6, 2020 - Apr 10, 2020 (5 days)</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <p style="font-size: 17px;"><i class="fa fa-birthday-cake"></i>&nbsp;Ages 5 - 14 yrs&nbsp;</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <p style="font-size: 17px;"><i class="fa fa-map-signs"></i>&nbsp; Sprout Creek Farm</p>
                                  </div>
                              </div><a class="btn btn-primary" role="button" style="font-size: 20px;background-color: rgb(79,121,96);" href="https://www.hisawyer.com/sprout-creek-farm/schedules/activity-set/89830-spring-break-day-camp?source=camp">Register</a></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12" style="padding-top: 0px;height: 300px;padding-bottom: 0px;margin-bottom: 10px;">
                  <header>
                      <p class="text-center" style="font-size: 25px;margin-top: 40px;"><strong>Questions?</strong></p>
                  </header>
                  <p class="text-center" style="font-size: 20px;padding-top: 4px;padding-bottom: 4px;margin-left: 12px;">Send Us An E-Mail At&nbsp;<a href="mailto:camps@sproutcreekfarm.org">camps@sproutcreekfarm.org</a>&nbsp;<br>Or <br>Call Us During Buisness Hours At (845) 485-8438 ext. 103<br><br><br></p>
              </div>
          </div>
      </div>
  </div>
