<!--File: visitTheFarm.hbs-->
<!--Authors: Alex Antaki, Matthew Oakley, Alex Mahlmeister, Raislan Aiken, and Jaspreet Singh-->
<!--Date: 11/10/2019-->
<!--Description: This is the body of the visitTheFarm page-->
<div data-bs-parallax-bg="true" style="height: 480px;background-image: url(&quot;images/IMG_0431.JPG?h=9deff3b51a942192fc5acd99f737094b&quot;);background-position: bottom;background-size: cover;background-repeat: no-repeat;"></div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center" style="font-size: 40px;padding: 0px;margin: 0px;padding-top: 40px;padding-bottom: 40px;"><strong>Visit The Farm</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="margin-top: 20px;margin-bottom: 20px;">
                <header>
                    <p class="text-center" style="font-size: 25px;"><strong>Hi There!</strong>&nbsp;</p>
                </header>
                <p class="text-center" style="font-size: 20px;padding-top: 4px;padding-bottom: 4px;">So you want to visit Sprout Creek Farm? We would love to have you!<br><br><strong>Sprout Creek is open from 10:00 AM to 5:00 PM, everyday, 7 days a week.&nbsp;</strong><br></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <header>
                    <p class="text-center" style="font-size: 25px;margin-top: 40px;"><strong>Fun For The Kids</strong></p>
                </header>
                <div></div>
            </div>
            <div class="col" style="margin-bottom: 70px;margin-top: 10px;">
                <div class="card-group">
                    <div class="card"><img class="card-img-top w-100 d-block" src="images/dda9b655-9790-4650-aefe-08e6fbff85ea.jpeg?h=7162dc4aae71caa77078cf4356b642aa" style="height: 258px;">
                        <div class="card-body text-center">
                            <h4 class="card-title"><strong>Cupcake Baking Class</strong><br></h4>
                            <p class="card-text"></p>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-clock-o"></i>&nbsp;Thu, 5:00pm - 8:00pm</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-calendar-o"></i>&nbsp;Nov 14, 2019</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-birthday-cake"></i>&nbsp;Ages 8 - 12 yrs&nbsp;</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-map-signs"></i>&nbsp;Sprout Creek Farm</p>
                                </div>
                            </div><a class="btn btn-primary" role="button" style="font-size: 20px;background-color: rgb(79,121,96);" href="https://www.hisawyer.com/sprout-creek-farm/schedules?schedule_id=camps&amp;sched_ids[]=38183">Register</a></div>
                    </div>
                    <div class="card"><img class="card-img-top w-100 d-block" src="images/pizza.jpg?h=c08697b3f3667b05d92257bdbae8fcc1" style="height: 258px;">
                        <div class="card-body text-center">
                            <h4 class="card-title"><strong>Pizza</strong>&nbsp;<strong>Cooking Class</strong><br></h4>
                            <p class="card-text"></p>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-clock-o"></i>&nbsp;Tue,&nbsp;5:30pm - 8:00pm</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-calendar-o"></i>&nbsp;Nov 12, 2019</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-birthday-cake"></i>&nbsp;Ages 8 - 12 yrs&nbsp;</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-map-signs"></i>&nbsp;Sprout Creek Farm<br></p>
                                </div>
                            </div><a class="btn btn-primary" role="button" style="font-size: 20px;background-color: rgb(79,121,96);" href="https://www.hisawyer.com/sprout-creek-farm/schedules/activity-set/102176">Register</a></div>
                    </div>
                    <div class="card"><img class="card-img-top w-100 d-block" src="images/72763727_10157496007277591_6340360653705838592_n.jpg?h=52287ff039ced51ec6099335b9d09f5b" style="height: 258px;">
                        <div class="card-body text-center">
                            <h4 class="card-title"><strong>&nbsp;Pasta Cooking Class</strong><br></h4>
                            <p class="card-text"></p>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-clock-o"></i>&nbsp;Tue, 5:30 PM – 8:00 PM</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-calendar-o"></i>&nbsp;Oct 29, 2019</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-birthday-cake"></i>&nbsp;Ages 8 - 12 yrs&nbsp;</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-map-signs"></i>&nbsp;Sprout Creek Farm</p>
                                </div>
                            </div><a class="btn btn-primary" role="button" style="font-size: 20px;background-color: rgb(79,121,96);" href="https://www.facebook.com/events/700865673731944/">Register</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding-top: 15px;">
                <header>
                    <p class="text-center" style="font-size: 25px;margin-top: 40px;"><strong>Fun For The Adults</strong></p>
                </header>
            </div>
            <div class="col" style="margin-bottom: 70px;margin-top: 10px;">
                <div class="card-group">
                    <div class="card"><img class="card-img-top w-100 d-block" src="images/50652009_10156819812262591_5460145400319049728_n.png?h=994cb2cefaa5c0fc6bd600109dd36479" style="height: 258px;">
                        <div class="card-body text-center">
                            <h4 class="card-title"><strong>Baking Butter Cookies</strong><br></h4>
                            <p class="card-text"></p>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-clock-o"></i>&nbsp;Thu, 6:00pm - 9:00pm</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-calendar-o"></i>&nbsp;Jan 31, 2019</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-birthday-cake"></i>&nbsp;Ages 18 yrs+&nbsp;</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-map-signs"></i>&nbsp;Sprout Creek Farm</p>
                                </div>
                            </div><a class="btn btn-primary" role="button" style="font-size: 20px;background-color: rgb(79,121,96);" href="https://www.facebook.com/events/603606350090919/">Register</a></div>
                    </div>
                    <div class="card"><img class="card-img-top w-100 d-block" src="images/45449994_10156653409547591_4180410837359394816_n.jpg?h=39f1d4f653f65ade688b2249d5d8a84f" style="height: 258px;">
                        <div class="card-body text-center">
                            <h4 class="card-title"><strong>Pies From Scratch</strong><br></h4>
                            <p class="card-text"></p>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-clock-o"></i>&nbsp;Wed, 6:00pm - 9:00pm</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-calendar-o"></i>&nbsp;Nov 14, 2019&nbsp;</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-birthday-cake"></i>&nbsp;Ages 18 yrs+</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-map-signs"></i>&nbsp;Sprout Creek Farm<br></p>
                                </div>
                            </div><a class="btn btn-primary" role="button" style="font-size: 20px;background-color: rgb(79,121,96);" href="https://www.facebook.com/events/542094452882546/">Register</a></div>
                    </div>
                    <div class="card"><img class="card-img-top w-100 d-block" src="images/75446798_10157531693187591_2098450497462599680_n.jpg?h=cdc369c14d09f97bc05b731ac65d4c16" style="height: 258px;">
                        <div class="card-body text-center">
                            <h4 class="card-title"><strong>Cheese &amp; Beer Pairing Workshop</strong><br></h4>
                            <p class="card-text"></p>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-clock-o"></i>&nbsp;Fri,&nbsp;6:00 PM – 7:30 PM</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-calendar-o"></i>&nbsp;Nov 15, 2019</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-birthday-cake"></i>&nbsp;Ages 21 yrs+</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-map-signs"></i>&nbsp;Poughkeepsie Day School<br></p>
                                </div>
                            </div><a class="btn btn-primary" role="button" style="font-size: 20px;background-color: rgb(79,121,96);" href="https://www.eventbrite.com/e/cheese-beer-pairing-workshop-tickets-78106473565?aff=ebdssbeac">Register</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-12" style="padding-top: 15px;">
                <header>
                    <p class="text-center" style="font-size: 25px;margin-top: 40px;"><strong>Fun For The Family</strong></p>
                </header>
            </div>
            <div class="col" style="margin-bottom: 70px;height: 640px;margin-top: 10px;">
                <div class="card-group">
                    <div class="card"><img class="card-img-top w-100 d-block" src="images/45156401_10156644132432591_690566273737687040_n.jpg?h=db356794ea2dc37e257bcd65623afc00" style="height: 258px;">
                        <div class="card-body text-center">
                            <h4 class="card-title"><strong>Farm to Table Brunch Buffet</strong><br></h4>
                            <p class="card-text"></p>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-clock-o"></i>&nbsp;Sun,&nbsp;10:00 AM – 1:30 PM</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-calendar-o"></i>&nbsp;Nov 10, 2019</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-birthday-cake"></i>&nbsp;All Are Welcome!</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-map-signs"></i>&nbsp;Sprout Creek Farm<br></p>
                                </div>
                            </div><a class="btn btn-primary" role="button" style="font-size: 20px;background-color: rgb(79,121,96);" href="https://www.facebook.com/events/574791189957416/">Register</a></div>
                    </div>
                    <div class="card"><img class="card-img-top w-100 d-block" src="images/69705420_10157395769117591_7674058199384719360_n.jpg?h=3028b246c9c6e1a88b86f866c799bb82" style="height: 258px;">
                        <div class="card-body text-center">
                            <h4 class="card-title"><strong>Fall Festival 2019</strong><br></h4>
                            <p class="card-text"></p>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-clock-o"></i>&nbsp;Sat,&nbsp;2:00 PM – 5:00 PM</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-calendar-o"></i>&nbsp;Oct 5, 2019</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-birthday-cake"></i>&nbsp;All Are Welcome!</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-map-signs"></i>&nbsp;Sprout Creek Farm<br></p>
                                </div>
                            </div><a class="btn btn-primary" role="button" style="font-size: 20px;background-color: rgb(79,121,96);" href="https://www.facebook.com/events/895686697480879/">Register</a></div>
                    </div>
                    <div class="card"><img class="card-img-top w-100 d-block" src="images/37684782_10156397723872591_6630639557459050496_n.jpg?h=1ceab28f215fc1b1c55433fe4e44ff1e" style="height: 258px;">
                        <div class="card-body text-center">
                            <h4 class="card-title"><strong>Friday Burger Night</strong><br></h4>
                            <p class="card-text"></p>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-clock-o"></i>&nbsp;Fri, 4:00 PM – 9:00 PM</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-calendar-o"></i>&nbsp;Jul 12 - Aug 16, 2019</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-birthday-cake"></i>&nbsp;All Are Welcome!</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="font-size: 17px;"><i class="fa fa-map-signs"></i>&nbsp;Sprout Creek Farm</p>
                                </div>
                            </div><a class="btn btn-primary" role="button" style="font-size: 20px;background-color: rgb(79,121,96);" href="https://www.facebook.com/events/2305641872885969/">Register</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
