#box-1 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/i1.jpg?h=22cb98cf93c6259db97fff8e2c3d6727);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-2 {
  height: 102vh;
  width: 100%;
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-3 {
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/img/i3.jpg?h=6fdeeb0b6d55d21dce18a3f978b8fb12);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

h1 {
  font-family: arial black;
  font-size: 50px;
  color: white;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

