/* Standard CSS Module for website. */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.container {
  width: 100%;
}

.container--text__centered {
  text-align: center;
}

.header {
  font-size: 2rem;
  background-image: url('/images/farm_header.png');
}

.header__lg {
  font-size: 4rem;
}

.img-banner {
  width: 100%;
}

.img-banner--container__as-paragraph {
  width: 100%;
  text-align: center;
}

.img-banner--img {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
