.team-clean {
  color: #313437;
  background-color: #fff;
}

.team-clean p {
  color: #7d8285;
}

.team-clean .people {
  padding-bottom: 40px;
}

.team-clean .item {
  text-align: center;
  padding-top: 50px;
}

.team-clean .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.team-clean .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 13px;
}

.team-clean .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.team-clean .item img {
  max-width: 160px;
}

