.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -.75rem;
  margin-left: -.75rem;
  /*overflow-y: auto;*/
}

.text-break {
  word-break: break-word!important;
  overflow-wrap: break-word!important;
}

